@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Josefin Sans;
}

/* colors */
:root {
  --light-beige: #f7ecde;
  --beige: #e9dac1;
  --light-blue: #9ed2c6;
  --blue: #54bab9;
}
/* headings and p*/
h1 {
  font-size: 3.5rem;
}

h2 {
  color: var(--blue);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  margin: 0.5em 0;
}

/* buttons */

.submit__btn {
  background-color: var(--blue) !important;
  color: var(--light-beige) !important;
}

.submit__btn:hover {
  background-color: var(--beige) !important;
  color: var(--blue) !important;
  border-color: transparent !important;
}

/* outlet and containers*/
.outlet,
.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80%;
}

.outlet {
  top: 60%;
}

.container {
  display: flex;
  top: 50%;
  min-height: 600px;
  min-width: 300px;
  flex-wrap: wrap;
}

/* the border */

article,
.add__item__form,
.nutrition__table,
.posts__list {
  margin: 0.5em 0.5em 0.5em 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

/* nav bar  */
.nav__bar {
  background-color: var(--blue);
}
.nav__link {
  text-decoration: none;
  color: var(--light-beige);
  display: block;
  padding: 10px;
  margin-top: 15px;
  font-size: 1.1rem;
}

.nav__link:hover {
  color: var(--beige);
}

.drop__down {
  margin-top: 7px;
}

.drop__down__link {
  text-decoration: none;
  color: black;
  width: fit-content;
}

.nav__brand > .nav__link {
  margin: 0 0 0 15px;
  color: var(--beige);
  font-size: 1.5rem;
}

/* login form */

form {
  display: flex;
  flex-direction: column;
}

.login__card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  padding: 50px;
}

/* posts list */

.post__link {
  text-decoration: none;
  color: var(--blue);
}

.reactionButton {
  margin: 0 0.5em 0 0;
  background: transparent;
  border: none;
  color: var(--blue);
  font-size: 1rem;
}

/* post details */
.post__details {
  display: block;
}

.post__section {
  text-align: justify;
  margin: 100px 0;
}

/* nutrition table  */

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--blue);
  color: white;
}

td {
  text-align: center;
}
