body {
  margin: 0;
  padding: 0;
}

.outlet {
  margin-top: 100px;
}

form {
  padding: 10px;
}

input {
  margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(255, 255, 255);
  color: black;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article,
.add__item__form,
.nutrition__table,
.posts__list {
  margin: 0.5em 0.5em 0.5em 0.5em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

.post__link {
  text-decoration: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: black;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1px;
  justify-items: stretch;
  align-items: stretch;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 100%;
}

.add__item__form {
  grid-column: 1fr;
  border: 1px black solid;
}
.nutrition__table {
  grid-column: 1fr;
}

table {
  border-collapse: collapse;
}
thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
td {
  border-right: 0.5px solid gray;
  padding: 5px;
}

.nav__link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  margin-top: 15px;
}

.nav__link:hover{
  color:red;
}